.container
  = form_for [:admin, @event] do |f|
    - if @event.errors.any?
      #error_explanation
        h2 = "#{pluralize(@event.errors.count, "error")} prohibited this event from being saved:"
        ul
          - @event.errors.full_messages.each do |message|
            li = message

    .field.form-group
      = f.label :image
      br
      = f.uploadcare_single_uploader_field :image
    .field.form-group
      = f.label :name
      = f.text_field :name, class: 'form-control'
    .field.form-group
      = f.label :name_eng
      = f.text_field :name_eng, class: 'form-control'
    .field.form-group
      = f.label :date_and_location
      = f.text_field :date_and_location, class: 'form-control'
    .field.form-group
      = f.label :date_and_location_eng
      = f.text_field :date_and_location_eng, class: 'form-control'
    .field.form-group
      = f.label :start_date
      = f.date_select :start_date, class: 'form-control'
    .field.form-group
      = f.label :url_text
      = f.text_field :url_text, class: 'form-control'
    .field.form-group
      = f.label :url
      = f.text_field :url, class: 'form-control'
      span{style='color: red;'} Mindig http:// vagy https:// kezdetű legyen
    .field.form-group
      = f.label :category
      = f.select :category, options_for_select(Event::CATEGORIES.map{|category| [category[:name], category[:name]]}, selected: @event.category), {} , class: 'form-control'
    .actions.form-group
      = f.submit
