h1 Listing events

table.table.table-hover
  thead
    tr
      th
      th Name
      th Date and location
      th Url
      th Category
      th
      th
      th

  tbody
    - @events.each do |event|
      tr
        td = image_tag event.image, style: 'max-width: 100px;'
        td = event.name
        td = event.date_and_location
        td = link_to 'link', event.url
        td = event.category
        td = link_to 'Show', admin_event_path(event)
        td = link_to 'Edit', edit_admin_event_path(event)
        td = link_to 'Destroy', admin_event_path(event), data: {:confirm => 'Are you sure?'}, method: :delete

br

= link_to 'New Event', new_admin_event_path
= ' | '
= link_to 'Admin', admin_root_path