.container
  .panel.panel-default
    .panel-body
      = image_tag @event.image + '-/resize/100x/'
  .panel.panel-default
    .panel-heading
      .panel-title Name:
    .panel-body
      =@event.name
      br
      =@event.name_eng
  .panel.panel-default
    .panel-heading
      .panel-title Date and location:
    .panel-body
      =@event.date_and_location
      br
      =@event.date_and_location_eng
  .panel.panel-default
    .panel-heading
      .panel-title Start date:
    .panel-body
      =@event.start_date
  .panel.panel-default
    .panel-heading
      .panel-title Url text:
    .panel-body
      =@event.url_text
  .panel.panel-default
    .panel-heading
      .panel-title Url:
    .panel-body
      =@event.url
  .panel.panel-default
    .panel-heading
      .panel-title Category:
    .panel-body
      =@event.category

  = link_to 'Edit', edit_admin_event_path(@event)
  = ' | '
  = link_to 'Back', admin_events_path
