- all_event = Event.where(category: event_category).order(start_date: :asc)
- first_event = all_event.first
- unless first_event.nil?
  .event.nopadding.col-xs-12.col-md-6
    .double-festival.nopadding.col-xs-12
      .festival id="event-#{first_event.id}"
        .image-box.nopadding.col-xs-6 style="background: url('#{first_event.image}-/resize/x300/') no-repeat center;"
          .masked
        .text-box.col-xs-6
          h3
            = "#{first_event.name}"
            span = "#{first_event.date_and_location}"
          .divider
          = link_to first_event.url_text, first_event.url, {class: (first_event.is_facebook? ? 'facebook' : '')}

- all_event.drop(1).each_slice(2) do |events|
  .double-festival.nopadding.col-xs-12.col-md-6
    - events.each_with_index do |event, index|
      - if index%2 == 0
        .festival id="event-#{event.id}"
          .text-box.col-xs-6
            h3
              = "#{event.name}"
              span = "#{event.date_and_location}"
            .divider
            = link_to event.url_text, event.url, {class: (event.is_facebook? ? 'facebook' : '')}
          .image-box.nopadding.col-xs-6 style="background: url('#{event.image}-/resize/x300/') no-repeat center;"
            .masked
      - else
        .festival id="event-#{event.id}"
          .image-box.col-xs-6 style="background: url('#{event.image}-/resize/x300/') no-repeat center;"
            .masked
          .text-box.col-xs-6
            h3
              = "#{event.name}"
              span = "#{event.date_and_location}"
            .divider
            = link_to event.url_text, event.url, {class: (event.is_facebook? ? 'facebook' : '')}