section#age-check
  .container.nopadding
    .brown-mask
      .age-18
        = image_tag "age_bg.png"
        p elmúltál már 18 éves?
        = link_to 'igen', 'javascript:void(0)', id:'yes'
        span
          | /
        = link_to 'nem', 'http://kekesturista.hu/'