section#age-check
  .container.nopadding
    .brown-mask
      .age-18
        = image_tag "age_bg.png"
        p Are you over 18 years old?
        = link_to 'yes', '#', id:'yes'
        span
          | /
        = link_to 'no', 'http://kekesturista.hu/'