section#popup
  .container.nopadding
    .content#article-first
      .album#article-1
        #carousel-1.carousel.slide data-ride="carousel"
          .carousel-inner role="listbox"
            .item.active
              .black-mask
              = image_tag "borvidek_1.jpg"
            .item
              .black-mask
              = image_tag "borvidek_2.jpg"
            .item
              .black-mask
              = image_tag "borvidek_3.jpg"
            .item
              .black-mask
              = image_tag "borvidek_4.jpg"
            .item
              .black-mask
              = image_tag "borvidek_5.jpg"
            .item
              .black-mask
              = image_tag "borvidek_6.jpg"
          a.left.carousel-control data-slide="prev" href="#carousel-1" role="button"
            = image_tag "left_arrow.png"
            span.sr-only Previous
          a.right.carousel-control data-slide="next" href="#carousel-1" role="button"
            = image_tag "right_arrow.png"
            span.sr-only Next
        p Mátrai borvidék
      .album#article-3
        #carousel-3.carousel.slide data-ride="carousel"
          .carousel-inner role="listbox"
            .item.active
              .black-mask
              = image_tag "pince_1.jpg"
            .item
              .black-mask
              = image_tag "pince_2.jpg"
            .item
              .black-mask
              = image_tag "pince_3.jpg"
            .item
              .black-mask
              = image_tag "pince_4.jpg"
            .item
              .black-mask
              = image_tag "pince_5.jpg"
            .item
              .black-mask
              = image_tag "pince_6.jpg"
          a.left.carousel-control data-slide="prev" href="#carousel-3" role="button"
            = image_tag "left_arrow.png"
            span.sr-only Previous
          a.right.carousel-control data-slide="next" href="#carousel-3" role="button"
            = image_tag "right_arrow.png"
            span.sr-only Next
        p 100 éves pincerendszer
      .album#article-4
        #carousel-4.carousel.slide data-ride="carousel"
          .carousel-inner role="listbox"
            .item.active
              .black-mask
              = image_tag "Borpalota_1.jpg"
        p Dunai Ágnes
      .album#article-6
        #carousel-6.carousel.slide data-ride="carousel"
          .carousel-inner role="listbox"
            .item.active
              .black-mask
              = image_tag "borkostolo_1.jpg"
            .item
              .black-mask
              = image_tag "borkostolo_2.jpg"
            .item
              .black-mask
              = image_tag "borkostolo_4.jpg"
            .item
              .black-mask
              = image_tag "borkostolo_5.jpg"
            .item
              .black-mask
              = image_tag "borkostolo_7.jpg"
          a.left.carousel-control data-slide="prev" href="#carousel-6" role="button"
            = image_tag "left_arrow.png"
            span.sr-only Previous
          a.right.carousel-control data-slide="next" href="#carousel-6" role="button"
            = image_tag "right_arrow.png"
            span.sr-only Next
        p bor+ kóstolók
      .album#article-7
        #carousel-7.carousel.slide data-ride="carousel"
          .carousel-inner role="listbox"
            .item.active
              .black-mask
              = image_tag "szoleszet_1.jpg"
            .item
              .black-mask
              = image_tag "szoleszet_2.jpg"
            .item
              .black-mask
              = image_tag "szoleszet_3.jpg"
            .item
              .black-mask
              = image_tag "szoleszet_4.jpg"
            .item
              .black-mask
              = image_tag "szoleszet_5.jpg"
            .item
              .black-mask
              = image_tag "szoleszet_6.jpg"
          a.left.carousel-control data-slide="prev" href="#carousel-7" role="button"
            = image_tag "left_arrow.png"
            span.sr-only Previous
          a.right.carousel-control data-slide="next" href="#carousel-7" role="button"
            = image_tag "right_arrow.png"
            span.sr-only Next
        p szőlészet 123 hektáron

      = Wine.all.each do |wine|
        .album id="wine-#{wine.id}-popup"
          = image_tag wine.image + '-/resize/x700/'
          p = wine.name