= render 'popup_eng'
= render 'age_check_eng'

nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse
  .container-fluid#mobile-menu
    .navbar-header
      button.navbar-toggle.collapsed aria-expanded="false" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button"
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      .language
        =link_to 'hun', root_path
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          = link_to 'Winery', '#wineries'
        li
          = link_to 'Cellar', '#winery'
        li
          =link_to 'Wines', '#our-wines'
        li
          =link_to 'Wine tasting', '#wine-tasting'
        li
          =link_to 'Events', '#events'
        li
          = link_to 'Shops', '#shop'
        li
          =link_to 'Contact', '#contact'

section.menu#eng
  .container#menu.nopadding
    ul
      li
        = link_to 'Winery', '#wineries'
      li
        = link_to 'Cellar', '#winery'
      li
        =link_to 'Wines', '#our-wines'
      li
        =link_to 'Wine tasting', '#wine-tasting'
      li
        =link_to 'Events', '#events'
      li
        = link_to 'Shops', '#shop'
      li
        =link_to 'Contact', '#contact'
      li.language
        =link_to 'hun', root_path
        span
          | /
        =link_to 'eng', 'javascript:void(0)'
section.slider
  .container.nopadding
    #carousel-example-generic.carousel.slide data-ride="carousel"
      .carousel-inner role="listbox"
        .item.active
          .black-mask
          = image_tag "slider_1.png"
        .item
          .black-mask
          = image_tag "slider_2.png"
        .item
          .black-mask
          = image_tag "slider_3.png"
      a.left.carousel-control data-slide="prev" href="#carousel-example-generic" role="button"
        = image_tag "left_arrow.png"
        span.sr-only Previous
      a.right.carousel-control data-slide="next" href="#carousel-example-generic" role="button"
        = image_tag "right_arrow.png"
        span.sr-only Next
    .slider-logo
      = image_tag "bp_logo.png"
    .contact-row
      = mail_to 'info@dubicz.hu', 'Send us an email', target:'_blank'
      span
        = ' '
        | or
        = ' '
      = link_to 'Follow us', 'https://www.facebook.com/dubicz.hu', target:'_blank'
section.wineries#wineries
  .container.nopadding
    .grey-row
      = image_tag "bp_brown.png"
      .grey-line
    h2 Winery
    article#block-1.col-xs-12.col-sm-6.col-lg-4.nopadding
      .masked
      = image_tag "img_icon.png"
      .text-box
        p DUBICZ
        span
          | /
        p Gyöngyös
        h3 Mátra wine region
        p Where the sun meets the mountain...
    article#block-2.col-xs-12.col-sm-6.col-lg-4.nopadding
      .masked
      = image_tag "wine_icon.png"
      .text-box
        p Fríz Hárslevelű
        span
          | /
        p 2008
        h3 Fríz Hárslevelű
        p Late harvested
    article#block-3.col-xs-12.col-sm-6.col-lg-4.nopadding
      .masked
      = image_tag "eye_icon.png"
      .text-box
        p Winery
        span
          | /
        p Anno  1906
        h3 100 years old cellar system
        p We opened a new era...
    article#block-4.col-xs-12.col-sm-6.col-lg-4.nopadding
      .masked
      = image_tag "pencil_icon.png"
      .text-box.box-centered
        = image_tag "dunai.png"
        h3 Ágnes Dunai
        span Manager
        p Captivated by the world of wines...
        = image_tag "quote_icon.png"
    article#block-5.col-xs-12.col-sm-6.col-lg-4.nopadding
      .masked
      = image_tag "wine_icon.png"
      .text-box
        p The premium wines of our winery
        span
          | /
        p 2014
        h3 1014 series

    article#block-6.col-xs-12.col-sm-6.col-lg-4.nopadding
      .masked
      = image_tag "eye_icon.png"
      .text-box
        p DUBICZ
        span
          | /
        p Gyöngyös
        h3 wine+ tastings
        p
          | (Time) travel to the world of wine...
    article#block-7.col-xs-12.col-sm-6.col-lg-4.nopadding
      .masked
      = image_tag "img_icon.png"
      .text-box
        p DUBICZ
        span
          | /
        p Gyöngyös
        h3 123 hectares of vineyards
        p Tradition and technology
    article#block-8.col-xs-12.col-sm-6.col-lg-4.nopadding
      .masked
      = image_tag "tour_icon.png"
      .text-box
        p DUBICZ
        span
          | /
        p Gyöngyös
        h3
          | Since 1906
          br
          |
        p The gate of Mátra
    article#block-9.col-xs-12.col-sm-6.col-lg-4.nopadding
      .masked
      = image_tag "glasses_icon.png"
      .text-box
        p Contact
        span
          | /
        p Reservation
        h3 be our guest
        p We are waiting for you in our cellar renovated!
section.winery#winery
  .container.nopadding
    .grey-row.white-row
      = image_tag "bp_brown.png"
      .grey-line
    h2 Cellar
    .winery-row
      h3
        | 100 YEARS
        br
        span OF WINE WORLD
    .first-row#boraszat
      .text-box
        h3 WINERY
        .brown-line
        h4 Gyöngyös
        .brown-line
        p Borpalota is located in the inner city of Gyöngyös, in the Mátra wine region. The winery with 100 years of history got renewed in 2014. A new era has started: our aim is to become a major winery of the region again, that is worthy of our name and the founders’ heritage; making wines that show the region’s quality, its freshness and dynamics.
        p Borpalota currently has 123 hectares of vineyards, growing traditional local grapes like Pinot Gris and Muscat Lunel as well as popular international types like Sauvignon Blanc and Cabernet. In the recent years most vineyards have been newly planted, currently we grow a variety of over 10 grapes. In 2014, our winemaking technology got modernised using the latest inventions, thus grew up to our 100-year old cellar system. Besides the terroir of our vineyards, this is the other key factor for producing our wines in consistently high quality.
      .image-box
    .second-row
      .image-box
      .text-box
        .brown-line
        h4 Building
        .brown-line
        p The Borpalota building has been built by the association of local winemakers, founded in 1900. The cellar system was used for winemaking and gave the foundation for the office building. The inauguration took place in 1907, and, despite all turbulences of the 20th century, the building remained a vinery ever since. The companies located here have always played a major role in the life of Mátra vine region.
        .brown-line
        h4 Cellar
        .brown-line
        p In our renewed wine cellar, visitors can take part in a wonderful time-traveling to the world of wines. Our guests can walk around in the nearly 1 km long cellar, where they can get acquainted with the winery’s 110 years of history. Our visitors can see the 6000-litre wooden casks used 100 years ago as well as concrete barrels from 30 to 80 000 litres built in the 1960’s, together with the 21st century’s modern technology of steel barrels.
section.our-wines#our-wines
  .container.nopadding
    .white-row
      = image_tag "wine_glass.png"
      .grey-line
    h2 Wines
    .series-row#thousand-fourteen
      .series.col-xs-12.col-md-6
        h3
          span 1014&nbsp;
          | series
        p The premium wines of our winery belong to the “1014” family – the name refers to the height of Kékes, the local mountain’s peak, which is the highest point of Hungary. We produce only our best wines under this label, the ones we are the mostly proud of.
        p Their style includes a little fermentation in wooden cascs, which makes these wines more complex; however, we consider this as a supporting act that should not dominate our wines.
      .series.nopadding.col-xs-12.col-md-6
        = image_tag "1014_head.png"
      = render 'wines/english', wine_category: '1014 sorozat'
    .series-row#borpalota
      .series.col-xs-12.col-md-6
        h3
          span HIKER&nbsp;
          | series
        p Basic product line can be the favorite for walkers, hikers. In the label there you can find Matra rocks, trees marks with hiker-signs. Excellent value wines contains in this category. These are fresh, reductive and full of fragrant and fruits.
      .series.nopadding.col-xs-12.col-md-6
        = image_tag "bp_head.png"
      = render 'wines/english', wine_category: 'Túrajeles sorozat'
    .series-row#wine-speciality
      .series.col-xs-12.col-md-6
        h3
          span Special wines
      .series.nopadding.col-xs-12.col-md-6
        = image_tag "speciality_head.png"
      = render 'wines/english', wine_category: 'Borkülönlegességek'
section.wine-tasting#wine-tasting
  .container.nopadding
    .grey-row.white-row
      = image_tag "bp_brown.png"
      .grey-line
    h2 Commercialisation
    .tasting-row
      h3
        | TIME TRAVEL
        br
        span TO THE WORLD OF WINE
    .first-row
      .image-box
      .text-box
        h3 Wine tasting
        p Our wine tasting room can serve up to 50 persons. If requested in advance, we gladly arrange snacks, cold platters or even hot meals to complete the wine tasting experience. The meals are prepared by the famous local restaurant, Kékes Restaurant.
        p Our wines are presented every time by an expert, and all our products can be bought locally. The prices of the wine tastings include mineral water and snacks.
    .second-row#csomagjaink
      .text-box
        h3 Our wine tasting offers:
        .brown-line
        ul
          li
            | 5 wines
            span 1750.- HUF/person
          li
            | 6 wines
            span 2000.- HUF/person
          li
            | 7 wines
            span 2250.- HUF/person
          li
            | 8 wines
            span 2500.- HUF/person
          li
            | 10 wines
            span 3000.- HUF/person
          li
          li
            | Cakes (15 dkg)
            span 300.- HUF/person
          li
            | Cheeses (15 dkg)
            span 500.- HUF/person
        .brown-line
        p Hot meals, lunch and dinner according to restaurant’s offer based on requests.
        p Our prices do not include VAT.
        p After wine tasting our guests have the opportunity to purchase from the winery’s vines.
        p Wine tasting room can be rented for special events; live music can be arranged if necessary.
      .image-box

section.events#events
  .container.nopadding
    .grey-row.white-row
      = image_tag "glasses_brown.png"
      .grey-line
    h2 Events
    p.subtitle
      | For offers, news and actualities please visit our
      = ' '
      = link_to 'Facebook', 'https://www.facebook.com/dubicz.hu'
      |  site.
    .event-row.nopadding#wine-tastings
      .event.col-xs-12.col-md-6
        h3 Topicality
      = render 'events/english', event_category: 'Aktualitások'
    .event-row#festivals
      .masked
      .event.col-xs-12.col-md-6
        h3 Events
      = render 'events/english', event_category: 'Események'

section.availabilities#shop
  .container.nopadding
    .white-row
      .grey-line
    h2 Shops
    .content
      = render 'availabilities/hungarian'

section.contact#contact
  .container.nopadding
    .white-row
      .grey-line
    h2 Contact
    .map
      .mask
        .content
          h3 Contact Us
          .left-column.nopadding.col-xs-12.col-md-7
            p Company: Dubicz Winery and Vineyards
            = link_to 'Address: H-3200 Gyöngyös, Koháry út 4.', 'https://www.google.hu/maps/place/Borpalota+Bor%C3%A1szat+%C3%A9s+Sz%C5%91l%C5%91birtok/@47.7838986,19.9308844,17z/data=!3m1!4b1!4m2!3m1!1s0x47405a1acbfa89c1:0x7370c139fa16a8a4', class: 'google-map', target:'_blank'
            ul
              li
                | Telephone: +36
                span
                  |/
                | 37
                span
                  |/
                | 301
                span
                  |/
                | 015
              li
                | Fax: +36
                span
                  |/
                | 37
                span
                  |/
                | 301
                span
                  |/
                | 693
              li
                | Email:
                = mail_to ' info@dubicz.hu'
              li
                | Web:
                = link_to 'www.dubicz.hu', 'http://www.dubicz.hu/'
            = link_to 'For offers, news and actualities please visit our Facebook site.', 'https://www.facebook.com/dubicz.hu', class: 'facebook', target:'_blank'

          .right-column.nopadding.col-xs-12.col-md-5
            p Send a message to us!
            = form_for :message, url: pages_send_email_path, method: :post, remote: true, html: { id: "form" } do |f|
              .name
                label for="name"
                = f.text_field :name, id: 'name', placeholder: "Name"
              .email
                label for="email"
                = f.email_field :email, id: 'email', placeholder: "Email"
              .message
                label for="message"
                = f.text_area :message, id: 'message', placeholder: "Message"
              .subject
                label for="subject"
                = f.text_field :subject, id: 'subject'
              .submit
                = f.submit "Send", id: 'submit'

section
  .container.nopadding
    .footer
      = image_tag "logo_footer.png"
      .divider
      //= link_to 'ADATVÉDELMI NYILATKOZAT', '#'
      //= link_to 'VÁSÁRLÁSI ÉS SZÁLLÍTÁSI FELTÉTELEK', '#'
      //= link_to 'KAPCSOLAT', '#'
      p
        | DESIGN BY
        = ' '
        span ANDRÁS BERECZ DESIGN / 2015
      p
        | DEVELOPED BY
        = ' '
        = link_to 'APP MAINTAINERS LTD', 'http://www.appmaintainers.com/', class: 'appmaintainers', target:'_blank'