= render 'popup'
= render 'age_check'

nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse
  .container-fluid#mobile-menu
    .navbar-header
      button.navbar-toggle.collapsed aria-expanded="false" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button"
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      .language
        =link_to 'eng', pages_eng_path
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav
        li
          = link_to 'borászat', '#wineries'
        li
          = link_to 'pincészet', '#winery'
        li
          =link_to 'borok', '#our-wines'
        li
          =link_to 'borkóstolók', '#wine-tasting'
        li
          =link_to 'események', '#events'
        li
          = link_to 'vásárlás', '#store'
        li
          =link_to 'kapcsolat', '#contact'

section.menu
  .container#menu.nopadding
    ul
      li
        = link_to 'borászat', '#wineries'
      li
        = link_to 'rólunk', '#winery'
      li
        =link_to 'borok', '#our-wines'
      li
        =link_to 'borkóstolók', '#wine-tasting'
      li
        =link_to 'események', '#events'
      li
        = link_to 'vásárlás', '#store'
      li
        =link_to 'kapcsolat', '#contact'
      li.language
        =link_to 'hun', 'javascript:void(0)'
        span
          | /
        =link_to 'eng', pages_eng_path
section.slider
  .container.nopadding
    #carousel-example-generic.carousel.slide data-ride="carousel"
      .carousel-inner role="listbox"
        .item.active
          .black-mask
          = image_tag "slider_1.png"
        .item
          .black-mask
          = image_tag "slider_2.png"
        .item
          .black-mask
          = image_tag "slider_3.png"
      a.left.carousel-control data-slide="prev" href="#carousel-example-generic" role="button"
        = image_tag "left_arrow.png"
        span.sr-only Previous
      a.right.carousel-control data-slide="next" href="#carousel-example-generic" role="button"
        = image_tag "right_arrow.png"
        span.sr-only Next
    .slider-logo
      = image_tag "bp_logo.png"
    .contact-row
      = mail_to 'info@dubicz.hu', 'Küldj nekünk emailt', target:'_blank'
      span
        | vagy
      = link_to 'Kövess minket', 'https://www.facebook.com/dubicz.hu', target:'_blank'
section.wineries#wineries
  .container.nopadding
    .grey-row
      = image_tag "bp_brown.png"
      .grey-line
    h2 Borászat
    article#block-1.col-xs-12.col-sm-6.col-lg-4.nopadding
      .masked
      = image_tag "img_icon.png"
      .text-box
        p DUBICZ
        span
          | /
        p Gyöngyös
        h3 a mátrai borvidék
        p Ahol a Nap és a hegy összeér...
    article#block-2.col-xs-12.col-sm-6.col-lg-4.nopadding
      .masked
      = image_tag "wine_icon.png"
      .text-box
        p Mátrai Fríz Hárslevelű
        span
          | /
        p 2008
        h3 Fríz Hárslevelű
        p Kései szüret
    article#block-3.col-xs-12.col-sm-6.col-lg-4.nopadding
      .masked
      = image_tag "eye_icon.png"
      .text-box
        p Borászat
        span
          | /
        p Anno&nbsp;&nbsp;1906
        h3 100 éves pincerendszer
        p Új korszakot nyitottunk...
    article#block-4.col-xs-12.col-sm-6.col-lg-4.nopadding
      .masked
      = image_tag "pencil_icon.png"
      .text-box.box-centered
        = image_tag "dunai.png"
        h3 Dunai Ágnes
        span Ügyvezető
        p Magával ragadott a borok világa...
        = image_tag "quote_icon.png"
    article#block-5.col-xs-12.col-sm-6.col-lg-4.nopadding
      .masked
      = image_tag "wine_icon.png"
      .text-box
        p Borászatunk prémium márkacsaládja
        span
          | /
        p 2014
        h3 1014 sorozat
        p
          | A MÁTRA CSÚCSA
    article#block-6.col-xs-12.col-sm-6.col-lg-4.nopadding
      .masked
      = image_tag "eye_icon.png"
      .text-box
        p DUBICZ
        span
          | /
        p Gyöngyös
        h3 bor+ kóstolók
        p
          | (Idő)utazás a borok világába...
    article#block-7.col-xs-12.col-sm-6.col-lg-4.nopadding
      .masked
      = image_tag "img_icon.png"
      .text-box
        p DUBICZ
        span
          | /
        p Dubicz / Gyöngyös
        h3 SZŐLŐBIRTOK
        p Hagyomány és technológia
    article#block-8.col-xs-12.col-sm-6.col-lg-4.nopadding
      .masked
      = image_tag "tour_icon.png"
      .text-box
        p DUBICZ
        span
          | /
        p Gyöngyös
        h3
          | 1906 óta
          br
          |
        p A Mátra kapujában
    article#block-9.col-xs-12.col-sm-6.col-lg-4.nopadding
      .masked
      = image_tag "glasses_icon.png"
      .text-box
        p Kapcsolat
        span
          | /
        p Foglalás
        h3 legyen a vendégünk
        p Várjuk Önöket felújított látványpincénkben!
section.winery#winery
  .container.nopadding
    .grey-row.white-row
      = image_tag "bp_brown.png"
      .grey-line
    h2 Rólunk
    .winery-row
      h3
        | 100 ÉV
        br
        span A BOROK VILÁGÁBAN
    .first-row#boraszat
      .text-box
        h3 A BORÁSZAT
        .brown-line
        p Gyöngyös belvárosában, a Mátrai Borvidéken található több mint 100 éves gyökerekkel rendelkező pincészetben készítjük borainkat. Családunk 2003 óta tulajdonosa a Borpalota épületében és pincéjében működő borászatnak. Fő feladatunknak tekintettük a nagy múltú pince modernizálását és kiváló minőségű mátrai borok készítését. A borászatot az elmúlt 12 évben a legmodernebb borászati technológiával szereltük fel. Nagy hangsúlyt fektetünk arra, hogy boraink magas minőségű, saját szőlőből készüljenek, ezért folyamatosan vásároltunk szőlőültetvényeket, illetve a régi rossz minőségű szőlőket újratelepítjük.
        p Dédapám az 1900-as évek legelején, az akkori társadalmi elvárásoknak megfelelve az ősi Dubicz családnevét Dunai-ra változtatta. Őseink tisztelte azonban nem fakult az elmúlt évszázad során, ezért döntöttünk úgy, hogy ezt a nevet választjuk a borászatunknak. Családunk hajdani neve ebben a formában fennmaradhat, biztosítva egyfajta történeti folytonosságot.
      .image-box
    .second-row
      .image-box
      .text-box
        .brown-line
        h4 Épület
        .brown-line
        p 1900. május 13-án alakult meg a Gyöngyös-Visontai Bortermelők Szövetkezete Rt., 255 üzletrésszel és 5781 korona alaptőkével. Saját épületre és pincére volt szükségük, így megvásárolták az Oroszlán Vendégfogadót, melynek helyére telepítették a részvénytársaság pincészetét, erre az alapra pedig az irodaházát. Az eklektikus stílusban épült gyönyörű épületet 1907-ben adták át. Az épület alatt található korszerű pincészet ekkor 40.000 hl bor tárolására volt alkalmas. Az épület az elmúlt száz év történelmi viharai közt is megmaradt annak, aminek építették, borászatnak. Az itt működő cégek mindig is meghatározó szerepet játszottak a borvidék életében és a mátrai borok piacán.
        .brown-line
        h4 Pince
        .brown-line
        p Felújított látványpincékben tehetnek csodálatos időutazást a borok világába a látogatók. A közel 1 km hosszú, körbejárható pincénkben tehetnek sétát az idelátogatók, ahol végigkísérhetik a borászat 110 éves történetét. Megtekinthetőek a 100 évvel ezelőtt használt 6000 literes, faragott hordók, az 1960-as években épített 30-80.000 literes, épített betontartályok és a XXI. század modern acéltartályos technológiája is.
section.our-wines#our-wines
  .container.nopadding
    .white-row
      = image_tag "wine_glass.png"
      .grey-line
    h2 Boraink
    .series-row#thousand-fourteen
      .series.col-xs-12.col-md-6
        h3
          span 1014&nbsp;
          | sorozat
        p A borászatunk prémium márkacsaládját a mátrai magasságokkal szerettük volna egy szintre emelni, így adta magát a "1014" elnevezés. Ebbe a családba a legkiválóbb borainkat palackozzuk, melyekre a legbüszkébbek vagyunk.
        p A borstílus kialakításában szerepet kap egy kevés hordós érlelés is, amelytől komplexebbek, tartalmasabbak lesznek boraink, de ügyelünk rá, hogy a hordó szerepe csak kiegészítő legyen, ne uralja a borokat.
      .series.nopadding.col-xs-12.col-md-6
        = image_tag "1014_head.png"
      = render 'wines/hungarian', wine_category: '1014 sorozat'
    .series-row#borpalota
      .series.col-xs-12.col-md-6
        h3
          span TÚRAJELES&nbsp;
          | sorozat
        p Alap termékcsaládunk a túrázók, kirándulók kedvence is lehet. Címkéjén a Mátra kőzetei, növényvilága jelenik meg turistajelekkel megjelölve.
        p Kiváló ár-érték arányú friss, illatos, gyümölcsös, reduktív borok kerülnek ebbe a kategóriába. Minden kiránduláshoz ajánljuk!
      .series.nopadding.col-xs-12.col-md-6
        = image_tag "bp_head.png"
      = render 'wines/hungarian', wine_category: 'Túrajeles sorozat'
    .series-row#wine-speciality
      .series.col-xs-12.col-md-6
        h3
          span BORKÜLÖNLEGESSÉGEINK
      .series.nopadding.col-xs-12.col-md-6
        = image_tag "speciality_head.png"
      = render 'wines/hungarian', wine_category: 'Borkülönlegességek'
section.wine-tasting#wine-tasting
  .container.nopadding
    .grey-row.white-row
      = image_tag "bp_brown.png"
      .grey-line
    h2 Borkóstolók
    .tasting-row
      h3
        | IDŐUTAZÁS
        br
        span A BOROK VILÁGÁBA
    .first-row
      .image-box
      .text-box
        h3 BORKÓSTOLÓK
        .brown-line
        h4 Felújított látványpincékben tehetnek csodálatos időutazást a borok világába a látogatók.
        .brown-line
        p
          | A közel
          = ' '
          span 1 km
          = ' '
          | hosszú, körbejárható pincénkben tehetnek sétát az idelátogatók, ahol végigkísérhetik a borászat
          = ' '
          span 110 éves
          = ' '
          | történetét.
        p Megtekinthetőek a 100 évvel ezelőtt használt 6000 literes, faragott hordók, az 1960-as években épített 30-80.000 literes, épített betontartályok és a XXI. század modern acéltartályos technológiája is.
        p Az 50 fős kóstolótermünkben pedig végigkóstolható a borászat teljes kínálata is. Igény esetén borkorcsolyával, falatkákkal, hidegtálakkal vagy melegétellel tesszük teljessé a borkóstolás élményét. Az ételeket a Gyöngyösön méltán híres Kékes Étterem készíti.
        p A borok bemutatását minden esetben szakember végzi és kedvező áron a teljes borkínálat megvásárolható a helyszínen. A borkóstolók árai minden esetben tartalmazzák az ásványvizet és kiflikarikákat.
    .second-row#csomagjaink
      .text-box
        h3 BORKÓSTOLÓ CSOMAGJAINK:
        .brown-line
        ul
          li
            | 5 fajta bor
            span 1750.- Ft/fő
          li
            | 6 fajta bor
            span 2000.- Ft/fő
          li
            | 7 fajta bor
            span 2250.- Ft/fő
          li
            | 8 fajta bor
            span 2500.- Ft/fő
          li
            | 10 fajta bor
            span 3000.- Ft/fő
          li
          li
            | Pogácsa (15 dkg)
            span 300.- Ft/fő
          li
            | Sajttál (15 dkg)
            span 500.- Ft/fő
        .brown-line
        p Melegétel, ebéd, vacsora előre megrendelt és egyeztetett igényeknek megfelelő éttermi ajánlat alapján.
        p Áraink az ÁFÁ-t nem tartalmazzák!
        p A borkóstolást követően vendégeinknek lehetősége nyílik arra, hogy vásároljanak a pince kínálatából.
        p A borkóstoló terem rendezvényekre bérbe vehető. Igény esetén élőzenét is tudunk biztosítani.
      .image-box

section.events#events
  .container.nopadding
    .grey-row.white-row
      = image_tag "glasses_brown.png"
      .grey-line
    h2 Események
    p.subtitle
      | Kedvezményekkel, megjelenésekkel és aktualitásokkal kapcsolatban kövesse&thinsp;
      = link_to 'Facebook', 'https://www.facebook.com/dubicz.hu'
      |  oldalunkat!
    .event-row#wine-tastings
      .event.col-xs-12.col-md-6
        h3 AKTUALITÁSOK
        p Pincelátogatás, borkóstoló és zenés vacsora esetén előzetes regisztráció szükséges
      = render 'events/hungarian', event_category: 'Aktualitások'
    .event-row#festivals
      .event.col-xs-12.col-md-6
        h3 ESEMÉNYEK
      = render 'events/hungarian', event_category: 'Események'
section.availabilities#store
  .container.nopadding
    .white-row
      .grey-line
    h2 Boraink elérhetőségei
    .content
      = render 'availabilities/hungarian'


section.contact#contact
  .container.nopadding
    .white-row
      .grey-line
    h2 Kapcsolat
    .map
      .mask
        .content
          h3 ELÉRHETŐSÉGEINK
          .left-column.nopadding.col-xs-12.col-md-7
            p Dubicz Borászat és Szőlőbirtok
            = link_to 'H-3200 Gyöngyös, Koháry út 4.', 'https://www.google.hu/maps/place/Borpalota+Bor%C3%A1szat+%C3%A9s+Sz%C5%91l%C5%91birtok/@47.7838986,19.9308844,17z/data=!3m1!4b1!4m2!3m1!1s0x47405a1acbfa89c1:0x7370c139fa16a8a4', class: 'google-map', target:'_blank'
            ul
              li
                | Telefon: +36
                span
                  |/
                | 37
                span
                  |/
                | 301
                span
                  |/
                | 015
              li
                | Fax: +36
                span
                  |/
                | 37
                span
                  |/
                | 301
                span
                  |/
                | 693
              li
                | Email:
                = mail_to ' info@dubicz.hu'
              li
                | Web:
                = ' '
                = link_to 'www.dubicz.hu', 'http://www.dubicz.hu/'
            = link_to 'Kedvezményekkel, megjelenésekkel és aktualitásokkal kapcsolatban kövesse Facebook oldalunkat!', 'https://www.facebook.com/dubicz.hu', class: 'facebook', target:'_blank'

          .right-column.nopadding.col-xs-12.col-md-5
            p Üzenjen nekünk!
            = form_for :message, url: pages_send_email_path, method: :post, remote: true, html: { id: "form" } do |f|
              .name
                label for="name"
                = f.text_field :name, id: 'name', placeholder: "Név"
              .email
                label for="email"
                = f.email_field :email, id: 'email', placeholder: "Email"
              .message
                label for="message"
                = f.text_area :message, id: 'message', placeholder: "Üzenet"
              .subject
                label for="subject"
                = f.text_field :subject, id: 'subject'
              .submit
                = f.submit "Elküldöm", id: 'submit'

section
  .container.nopadding
    .footer
      = image_tag "logo_footer.png"
      .divider
      //= link_to 'ADATVÉDELMI NYILATKOZAT', '#'
      //= link_to 'VÁSÁRLÁSI ÉS SZÁLLÍTÁSI FELTÉTELEK', '#'
      //= link_to 'KAPCSOLAT', '#'
      p
        | DESIGN BY
        = ' '
        span BERECZ ANDRÁS DESIGN / 2015
      p
        | DEVELOPED BY
        = ' '
        = link_to 'APP MAINTAINERS LTD', 'http://www.appmaintainers.com/', class: 'appmaintainers', target:'_blank'