.container
  = form_for [:admin, @availability] do |f|
    - if @availability.errors.any?
      #error_explanation
        h2 = "#{pluralize(@availability.errors.count, "error")} prohibited this availability from being saved:"
        ul
          - @availability.errors.full_messages.each do |message|
            li = message

    .field.form-group
      = f.label :name
      = f.text_field :name, class: 'form-control'
    .field.form-group
      = f.label :url
      = f.text_field :url, class: 'form-control'
      span{style='color: red;'} Mindig http:// vagy https:// kezdetű legyen
    .actions.form-group
      = f.submit
