h1 Listing availabilities

table.table.table-hover
  thead
    tr
      th Name
      th Url
      th
      th
      th

  tbody
    - @availabilities.each do |availability|
      tr
        td = availability.name
        td = availability.url
        td = link_to 'Show', admin_availability_path(availability)
        td = link_to 'Edit', edit_admin_availability_path(availability)
        td = link_to 'Destroy', admin_availability_path(availability), data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New Availability', new_admin_availability_path
= ' | '
= link_to 'Admin', admin_root_path