.container
  .panel.panel-default
    .panel-heading
      .panel-title Name
    .panel-body
      = @availability.name
  .panel.panel-default
    .panel-heading
      .panel-title Url
    .panel-body
      = @availability.url

  = link_to 'Edit', edit_admin_availability_path(@availability)
  = ' | '
  = link_to 'Back', admin_availabilities_path
