body
  position: relative
#age-check
  //display: none
  position: fixed
  z-index: 20000
  top: 0
  bottom: 0
  left: 0
  right: 0
  .container
    height: 100%
    position: relative
    .brown-mask
      position: absolute
      top: 0
      bottom: 0
      width: 100%
      background: rgba(158, 137, 94, 0.5)
      .age-18
        position: absolute
        top: 220px
        left: calc(50% - 200px)
        text-align: center
        p, a, span
          text-transform: uppercase
          color: #0f101b
          font-family: 'Open Sans', sans-serif
          font-weight: 800
          font-size: 15.8px
          z-index: 1000
        p
          margin: -100px 0 15px
        a, span
          text-decoration: none
          font-weight: 600
          margin: 0 2px
#popup
  position: fixed
  z-index: 10000
  top: 0
  bottom: 0
  left: 0
  right: 0
  &.active
    display: block
  .container
    height: 100%
    .content
      width: 100%
      height: 100%
      background-color: rgba(28, 30, 53, 0.2)
      .album
        display: none
        position: relative
        top: 50%
        -webkit-transform: translate(0, -50%)
        -ms-transform: translate(0, -50%)
        transform: translate(0, -50%)
        background-color: #ffffff
        margin: auto
        width: 85%
        .carousel
          padding: 40px
          .left.carousel-control
            top: 40px
            left: 40px
            bottom: 40px
            img
              top: 45%
              position: absolute
              left: 20%
          .right.carousel-control
            top: 40px
            right: 40px
            bottom: 40px
            img
              top: 45%
              position: absolute
              right: 20%
        p
          margin: -40px 0 0
          text-align: center
          padding: 10px
          color: #1c1e35
          font-family: 'Playfair Display', serif
          font-style: italic
          font-weight: 700
          font-size: 14px
        &.active
          display: block
        &.wine
          max-width: 70%
          height: 90%
          img
            position: absolute
            max-height: 100%
            margin: auto
            left: 0
            right: 0
            bottom: 0
            max-width: 100%
          p
            color: #ffffff
            background-color: #1c1e35
            margin: 0
            padding: 5px
            position: absolute
            bottom: 0
            width: 100%
a
  -o-transition: 1s
  -ms-transition: 1s
  -moz-transition: 1s
  -webkit-transition: 1s
  transition: 1s
.nopadding
  padding: 0 !important
.navbar
  display: none
.menu
  position: fixed
  margin: auto
  width: 100%
  z-index: 1000
  .container
    background-color: #32353c
    height: 60px
    ul
      list-style: none
      text-align: center
      margin: 20px 0
      padding: 0
      li
        display: inline-block
        margin: 0 23px
        a, span
          color: #f0f0f0
          font-family: 'Open Sans', sans-serif
          font-weight: 600
          font-size: 13px
          text-transform: uppercase
        a:hover
          color: #9e895e
        &.language
          a, a:hover
            &.active
              text-decoration: underline
              color: #f0f0f0
              cursor: default
.slider
  .container
    position: relative
    padding: 0
    .black-mask
      position: absolute
      top: 0
      bottom: 0
      width: 100%
      background: rgba(0, 0, 0, 0.42)
      z-index: 1
    .carousel-control
      z-index: 1
      img
        top: 45%
        position: absolute
    .slider-logo
      position: absolute
      top: calc(50% - 105px)
      left: calc(50% - 200px)
      z-index: 1
    .contact-row
      position: absolute
      bottom: 0
      height: 80px
      width: 100%
      text-align: center
      border-top: 2px solid rgba(255, 255, 255, 0.15)
      z-index: 1
      a, span
        color: #c8c8dc
        font-family: 'Playfair Display', serif
        font-style: italic
        font-weight: 700
        font-size: 15.8px
        text-decoration: none
      a
        display: inline-block
        padding: 28px 0
        text-align: left
        &:first-of-type
          width: 200px
          background: asset-url("envelope.png") no-repeat right center
          background-size: 33px 33px
          &:hover
            background: asset-url("envelope_hover.png") no-repeat right center
        &:last-of-type
          width: 158px
          margin-right: 42px
          background: asset-url("fb.png") no-repeat right center
          background-size: 33px 33px
          &:hover
            background: asset-url("fb_hover.png") no-repeat right center
      span
        background: asset-url("or_divider.png") no-repeat center
        background-size: 2px 60px
        padding: 30px 50px
.wineries h2, .winery h2, .our-wines h2, .wine-tasting h2, .events h2, .contact h2, .availabilities h2
  text-align: center
  color: #1c1e35
  font-family: 'Open Sans', sans-serif
  font-weight: 800
  font-size: 28.4px
  margin: 50px auto
.grey-row
  position: relative
  background-color: #f5f5f3
  height: 200px
  img
    position: absolute
    margin: 76px auto
    left: 0
    right: 0
.grey-line
  position: absolute
  height: 2px
  width: 166px
  background-color: #9d9ea7
  bottom: -2px
  left: 0
  right: 0
  margin: auto
.wineries
  article
    cursor: pointer
    overflow: hidden
    &#block-1
      background: asset-url("wine_region.png") no-repeat center
      background-size: cover
    &#block-2
      background: asset-url("friz.png") no-repeat center
      background-size: cover
    &#block-3
      background: asset-url("winery.png") no-repeat center
      background-size: cover
    &#block-4
      background-color: #1c1e35
    &#block-5
      background: asset-url("1014.png") no-repeat center
      background-size: cover
    &#block-6
      background: asset-url("taster.png") no-repeat center
      background-size: cover
    &#block-7
      background: asset-url("vineyard.png") no-repeat center
      background-size: cover
    &#block-8
      background: asset-url("1906.png") no-repeat center
      background-size: cover
    &#block-9
      background: asset-url("winery.png") no-repeat center
      background-size: cover
    img
      position: relative
      float: left
      left: 30px
      top: 30px
    .text-box
      position: absolute
      padding: 100px 45px 0
      margin: auto
      width: 100%
      p, span, h3
        color: #ffffff
      p
        display: inline-block
        font-size: 12px
        margin-bottom: 5px
        &:first-of-type
          font-family: 'Crimson Text', serif
          font-weight: 700
        &:nth-of-type(2)
          font-family: 'Crimson Text', serif
          font-weight: 600
          font-style: italic
        &:last-of-type
          font-family: 'Open Sans', sans-serif
          font-weight: 600
      span
        font-family: 'Crimson Text', serif
        font-weight: 700
        font-size: 12px
        margin: 0 5px
      h3
        margin: 0 0 20px
        font-family: 'Open Sans', sans-serif
        font-weight: 800
        font-size: 39.92px
        text-transform: uppercase
    .box-centered
      padding-top: 150px
      display: inline-block
      position: relative
      text-align: center
      img
        left: 0
        right: 0
        position: absolute
        margin: auto
        &:last-of-type
          top: 55%
          left: 70%
      h3
        font-size: 18.96px
        margin-bottom: 10px
        color: #f5f5f5
      span
        font-family: 'Open Sans', sans-serif
        font-weight: 400
        font-size: 12px
        color: #646e82
        display: block
      p:last-of-type
        margin-top: 10px
        font-family: 'Crimson Text', serif
        font-weight: 600
        font-style: italic
        font-size: 18.96px
    .masked
      position: absolute
      width: 100%
      height: 100%
      background-color: rgba(0, 0, 0, 0.4)
      -o-transition: 1s
      -ms-transition: 1s
      -moz-transition: 1s
      -webkit-transition: 1s
      transition: 1s
    &.focus .masked
      opacity: 0
.white-row
  height: 135px
  width: 100%
  position: relative
  border-bottom: 2px solid #f3f3f3
  img
    margin: 40px auto
    position: absolute
    left: 0
    right: 0
.series-row
  clear: both
  &#thousand-fourteen
    .series
      background-color: #1c1e35
    .text-box
      min-height: 290px
    .wine:nth-of-type(2)
      .image-box
        position: absolute
        top: 0
        left: 0
        -webkit-transform: initial
        -ms-transform: initial
        transform: initial
      .text-box
        position: relative
        float: right
  &#borpalota
    .series
      background-color: #1c1e35
      h3
        padding: 100px 10px 25px
      p
        width: 90%
    .text-box
      min-height: 325px
    .wine:first-of-type
      .image-box
        position: absolute
        top: 0
        left: 0
        -webkit-transform: initial
        -ms-transform: initial
        transform: initial
      .text-box
        position: relative
        float: right
  &#wine-speciality
    .series
      background-color: #1c1e35
      h3
        padding: 169px 10px 25px
    .text-box
      min-height: 345px
    .wine:nth-of-type(2)
      .image-box
        position: absolute
        top: 0
        left: 0
        -webkit-transform: initial
        -ms-transform: initial
        transform: initial
      .text-box
        position: relative
        float: right
  .series
    height: 390px
    h3
      color: #ffffff
      font-family: 'Open Sans', sans-serif
      font-weight: 300
      font-size: 37.92px
      text-transform: uppercase
      margin: 0
      padding: 75px 10px 25px
      span
        font-weight: 800
    p
      color: #ffffff
      font-size: 15px
      padding: 0 10px
      margin-bottom: 25px
      &:first-of-type
        font-family: 'Playfair Display', serif
        font-weight: 400
      &:last-of-type
        font-family: 'Open Sans', sans-serif
        font-weight: 600
    img
      margin: auto
      width: 100%
      bottom: 0
      position: absolute
  .wine
    position: relative
    display: block
    cursor: pointer
    overflow: hidden
    .text-box
      padding: 25px
      min-height: 285px
      background-color: #f5f5f3
      color: #646e82
      p:first-of-type
        font-family: 'Playfair Display', serif
        font-weight: 400
        font-size: 12px
        span
          font-weight: 700
          font-style: italic
      h3
        font-size: 18.96px
        font-family: 'Open Sans', sans-serif
        font-weight: 800
        span
          font-weight: 300
      p:last-of-type
        font-size: 14px
        font-family: 'Open Sans', sans-serif
        text-align: justify
    .image-box
      position: absolute
      top: 50%
      left: 75%
      -webkit-transform: translate(-50%, -50%)
      -moz-transform: translate(-50%,-50%)
      -ms-transform: translate(-50%,-50%)
      -o-transform: translate(-50%,-50%)
      transform: translate(-50%,-50%)
      padding: 0
      height: 100%
      .image
        width: 100%
        height: 100%
        overflow: hidden
        position: relative
        img
          height: 100%
          -webkit-transition: all 1s ease
          -moz-transition: all 1s ease
          -o-transition: all 1s ease
          -ms-transition: all 1s ease
          transition: all 1s ease
          position: absolute
          top: 50%
          left: 50%
          -webkit-transform: translate(-50%, -50%)
          -moz-transform: translate(-50%,-50%)
          -ms-transform: translate(-50%,-50%)
          -o-transform: translate(-50%,-50%)
          transform: translate(-50%,-50%)
          &:hover
            -webkit-transform: translate(-48%,-80%) scale(1.7)
            -moz-transform: translate(-48%,-80%) scale(1.7)
            -ms-transform: translate(-48%,-80%) scale(1.7)
            -o-transform: translate(-48%,-80%) scale(1.7)
            transform: translate(-48%,-80%) scale(1.7)
.winery-row, .tasting-row
  min-height: 505px
  display: flex
  position: relative
  h3
    position: absolute
    top: 50%
    left: 40%
    -webkit-transform: translate(-50%, -50%)
    -ms-transform: translate(-50%, -50%)
    transform: translate(-50%, -50%)
    margin: 0
    color: #ffffff
    font-size: 63.21px
    font-family: 'Open Sans', sans-serif
    font-weight: 800
    span
      font-weight: 300
.winery-row
  background: asset-url("pinceszet.png") no-repeat center
  background-size: cover
.tasting-row
  background: asset-url("time_travel.png") no-repeat center
  background-size: cover
.first-row, .second-row
  display: inline-block
  width: 100%
  clear: both
  .image-box
    width: 46%
    float: left
    min-height: 574px
    background: asset-url("winemaker.png") no-repeat center top
    background-size: cover
  .text-box
    width: 54%
    float: left
    padding: 40px 60px
    h3
      color: #1c1e35
      font-size: 23.7px
      font-family: 'Open Sans', sans-serif
      font-weight: 800
      margin: 0
    .brown-line
      width: 65px
      height: 2px
      background-color: #9e895e
      margin: 20px 0
    ul
      list-style: none
      padding: 0
      margin: 0
      li
        color: #3c4055
        font-family: 'Playfair Display', serif
        font-style: italic
        font-weight: 700
        font-size: 16.85px
        margin: 0
        height: 30px
        span
          color: #646e82
          font-family: 'Open Sans', sans-serif
          font-size: 14px
          font-weight: 700
          float: right
    p
      color: #646e82
      font-family: 'Open Sans', sans-serif
      font-size: 14px
      margin-bottom: 15px
      font-weight: 400
      span
        font-weight: 700
    h4
      color: #3c4055
      font-family: 'Playfair Display', serif
      font-style: italic
      font-weight: 700
      font-size: 16.85px
      margin: 0
.second-row
  padding: 60px 0
  .text-box
    padding: 0 60px
  .image-box
    float: right
    background: asset-url("basket.png") no-repeat center top
    background-size: cover
.winery
  .first-row .image-box
    float: right
    background: asset-url("boraszatvagott.jpg") no-repeat center top
    background-size: cover
  .second-row .image-box
    float: left
    background: asset-url("epulet.jpg") no-repeat center top
    background-size: cover

.events
  overflow-x: hidden
  .subtitle
    text-align: center
    width: 40%
    margin: auto
    color: #3c4055
    font-family: 'Playfair Display', serif
    font-weight: 400
    font-size: 17px
    margin: -30px auto 50px
    line-height: 1.6
    a
      color: #3c4055
      font-weight: 700
      text-decoration: underline

  .event-row
    clear: both
    &#links
      padding-top: 30px
    &#wine-tastings, &#festivals, &#links
      position: relative
      .text-box
        min-height: 270px
      .event
        height: 276px
        position: relative
        h3
          color: #ffffff
          font-size: 37px
          font-family: 'Open Sans', sans-serif
          font-weight: 800
          padding: 65px 10px 15px
          z-index: 1
          position: relative
        p
          color: #ffffff
          font-family: 'Playfair Display', serif
          font-weight: 400
          font-size: 15px
          padding: 0 10px
          width: 70%
          z-index: 1
          position: relative
        .double-event, .double-festival
          .text-box
            float: right
      .double-event, .double-festival, .double-link
        display: inline-block
        background-color: #ffffff
        //clear: both
        .festival, .wine-tasting, .link
          display: flex
          cursor: pointer
          position: relative
          &:hover
            .text-box a
              background: none
              &.facebook
                background: asset-url("fb_event_hover.png") no-repeat center bottom
            .image-box .masked
              opacity: 0
          .masked
            position: absolute
            width: 100%
            height: 100%
            background-color: rgba(0, 0, 0, 0.4)
            -o-transition: 1s
            -ms-transition: 1s
            -moz-transition: 1s
            -webkit-transition: 1s
            transition: 1s
        .text-box
          background-color: #f5f5f3
          text-align: center
          h3
            color: #1c1e35
            font-size: 17px
            font-family: 'Open Sans', sans-serif
            font-weight: 800
            padding: 30px 0 8px
            text-transform: uppercase
            span
              display: block
              color: #3c4055
              font-family: 'Playfair Display', serif
              font-style: italic
              font-weight: 700
              font-size: 15.8px
              text-transform: none
              padding-top: 10px
          .divider
            height: 2px
            width: 100%
            background-color: #e1e1e1
            margin: 20px 0
          a
            display: block
            height: 70px
            text-decoration: none
            color: #646e82
            font-family: 'Montserrat', sans-serif
            font-size: 10.27px
            margin-bottom: 35px
            &.facebook
              background: asset-url("fb_event.png") no-repeat center bottom
        .image-box
          background: asset-url("bp_darker.png") no-repeat center
          padding: 0
        .link .text-box a, .link:hover .text-box a
          background: none
      .double-link .text-box
        h3 span, p
          opacity: 0
        p
          height: 8px
    &#wine-tastings .event
      background-color: #9e895e
      .double-festival:first-of-type
        border-top: 6px solid #9e895e
        position: absolute
    &#festivals .event
      background-color: #1c1e35
      .double-festival:first-of-type
        border-top: 6px solid #1c1e35
        position: absolute
      h3
        padding: 90px 10px 15px
.availabilities
  position: relative
  .content
    background: #1c1e35
    color: white
    padding-top: 50px
    padding-bottom: 50px
    .block
      text-align: center
      line-height: 110%
      .name
        padding-top: 25px
        font-weight: bold
        font-style: italic
      .url
        text-decoration: underline
        a, a:hover, a:visited
          color: white
      .line
        margin: 0 auto
        height: 2px
        width: 30px
        background-color: #4C4544
        margin-top: 25px
        margin-bottom: 25px
@media (min-width: 992px)
  .availabilities
    .content
      .block:nth-child(-n+4):before
        content: ' '
        display: block
        margin: 0 auto
        height: 2px
        width: 30px
        background-color: #4C4544
        margin-top: 25px
@media (min-width: 768px) and (max-width: 991px)
  .availabilities
    .content
      .block:nth-child(-n+3):before
        content: ' '
        display: block
        margin: 0 auto
        height: 2px
        width: 30px
        background-color: #4C4544
        margin-top: 25px
@media (max-width: 767px)
  .availabilities
    .content
      .block:nth-child(-n+2):before
        content: ' '
        display: block
        margin: 0 auto
        height: 2px
        width: 30px
        background-color: #4C4544
        margin-top: 25px
.contact
  position: relative
  .map
    background: asset-url("map.png") no-repeat center
    background-size: cover
    display: inline-block
    width: 100%
  .mask
    width: 100%
    display: inline-block
    background: rgba(0, 0, 0, 0.75)
    .content
      max-width: 760px
      margin: auto
      padding-top: 60px
      display: block
      h3
        color: #ffffff
        font-size: 54.52px
        font-family: 'Open Sans', sans-serif
        font-weight: 800
        margin: 0 0 50px
      .left-column
        p
          color: #ffffff
          font-size: 14px
          font-family: 'Open Sans', sans-serif
          font-weight: 800
          margin-bottom: 0
        ul
          list-style: none
          padding: 0
          margin-bottom: 30px
          li
            color: #ffffff
            font-size: 14px
            font-family: 'Playfair Display', serif
            font-weight: 400
            line-height: 25px
            span
              color: #9e895e
        a, a:hover
          text-decoration: none
          color: #ffffff
          width: 80%
          &.google-map
            font-size: 14px
            font-family: 'Playfair Display', serif
            font-weight: 700
            background: asset-url("map_sign.png") no-repeat right center
            line-height: 30px
            display: block
          &.facebook
            background: asset-url("fb.png") no-repeat right center
            padding: 16px 60px 16px 0
            font-size: 12px
            font-family: 'Open Sans', sans-serif
            font-weight: 400
            font-style: italic
            display: block
        a.google-map:hover
          background: asset-url("map_sign_hover.png") no-repeat right center
        a.facebook:hover
          background: asset-url("fb_hover.png") no-repeat right center
      .right-column
        p
          color: #ffffff
          font-size: 11.06px
          font-family: 'Open Sans', sans-serif
          font-weight: 800
          margin-bottom: 30px
        form
          display: inline-block
          width: 270px
          padding-bottom: 60px
          .error
            input, textarea
              border: 1px solid red
              &:-moz-placeholder
                color: red
              &::-moz-placeholder
                color: red
              &:-ms-input-placeholder
                color: red
              &::-webkit-input-placeholder
                color: red
          input, textarea
            resize: none
            box-shadow: none
            -webkit-appearance: none
            border: 1px solid rgba(255, 255, 255, 0.3)
            background-color: rgba(255, 255, 255, 0)
            color: #ffffff
            font-size: 12px
            font-family: 'Open Sans', sans-serif
            font-weight: 400
            padding: 7px
            width: 100%
            margin-bottom: 10px
            &:focus
              border: 1px solid #ffffff
              outline: 0 none
              background-color: rgba(255, 255, 255, 0.2)
              &::-webkit-input-placeholder
                opacity: 0
            &:-moz-placeholder
              color: #ffffff
              font-size: 12px
              font-family: 'Open Sans', sans-serif
              font-weight: 400
            &::-moz-placeholder
              color: #ffffff
              font-size: 12px
              font-family: 'Open Sans', sans-serif
              font-weight: 400
            &:-ms-input-placeholder
              color: #ffffff
              font-size: 12px
              font-family: 'Open Sans', sans-serif
              font-weight: 400
            &::-webkit-input-placeholder
              color: #ffffff
              font-size: 12px
              font-family: 'Open Sans', sans-serif
              font-weight: 400
            &:-webkit-autofill
              color: #fff !important
          textarea
            width: 100%
            height: 150px
          input[type=submit]
            background-color: #ffffff
            color: #1c1e35
            font-family: 'Montserrat', sans-serif
            font-size: 9px
            text-transform: uppercase
            width: 90px
            height: 35px
            float: right
            margin: 0
          .subject input
            height: 0
            padding: 0
            margin: 0
            border: none
            opacity: 0
.footer
  text-align: center
  background-color: #0f101b
  border-top: 1px solid #65646c
  img
    padding-top: 30px
  .divider
    width: 100%
    height: 2px
    background-color: #1b1c27
    margin: 20px 0 0
  //a, a:hover
  //  text-decoration: none
  //  color: #c8c8dc
  //  font-size: 9.48px
  //  font-family: 'Open Sans', sans-serif
  //  font-weight: 400
  //  margin: 0 13px
  p
    color: #808190
    font-size: 8.69px
    font-family: 'Open Sans', sans-serif
    font-weight: 400
    margin: 0
    padding: 15px 0 0
    &:last-of-type
      padding: 5px 0 15px
    .appmaintainers, .appmaintainers:hover
      color: #808190
      text-decoration: none
      font-weight: 800
    span
      font-weight: 800

@media(max-width: 1199px)
  #age-check
    .container
      .brown-mask
        .age-18
          top: calc(50% - 232px)
  .wineries
    article
      .text-box
        padding-top: 140px
  .winery-row, .tasting-row
    h3
      left: 10%
      -webkit-transform: translate(0, -50%)
      -ms-transform: translate(0, -50%)
      transform: translate(0, -50%)
  .first-row, .second-row
    .image-box
      min-height: 478px
    .text-box
      padding: 30px 40px
      .brown-line
        margin: 10px 0
  .second-row
    padding: 0
    .text-box
      margin-top: -10px
      padding: 0 40px
  .series-row
    .series
      min-height: 324px
      h3
        font-size: 32px
        padding-top: 30px
    &#borpalota
      .series
        h3
          padding-top: 60px
    &#wine-speciality
      .series
        h3
          padding-top: 145px
    &#thousand-fourteen, &#wine-speciality
      .text-box
        min-height: 390px
    &#borpalota
      .text-box
        min-height: 425px
  .events
    .subtitle
      width: 50%
    .event-row#festivals, .event-row#links
      #first-festival .image-box, #second-festival .image-box
        background-size: contain
      .text-box
        min-height: 290px
      .event
        height: 296px
@media(max-width: 991px)
  #age-check
    .container
      .brown-mask
        .age-18
          top: calc(50% - 294px)
  .menu .container ul li
    margin: 0 15px
  .wineries
    article
      .text-box
        padding: 100px 20px 0
      .box-centered
        padding-top: 150px
  .second-row
    .text-box
      margin-top: 0
  .series-row
    .series:nth-of-type(2)
      height: 492px
    &#wine-speciality .double-wine:last-of-type
      .text-box
        position: relative
        float: right
      .image-box
        position: absolute
        top: 0
        left: 0
        -webkit-transform: initial
        -ms-transform: initial
        transform: initial
  .events .event-row#festivals > .double-festival:nth-of-type(odd),
  .events .event-row#wine-tastings > .double-event:nth-of-type(odd)
    .festival:first-of-type, .wine-tasting:first-of-type
      .text-box
        order: 1
    .festival:last-of-type
      .image-box
        order: 1
    .wine-tasting:last-of-type
      .image-box
        order: -1
  .event-row#festivals
    .event:nth-of-type(2)
      height: 586px
  .event-row#wine-tastings
    .event:nth-of-type(2)
      height: 546px
  .contact .mask .content
    width: 70%
    .right-column
      margin: 30px 0
@media(max-width: 767px)
  #age-check .container .brown-mask .age-18
    width: 200px
    height: 105px
    top: 88px
    left: calc(50% - 100px)
    img
      width: 100%
    p
      margin: -60px 0 0
    p, a
      font-size: 12px
  .menu
    display: none
  .slider .container
    .carousel-control img
      top: 40%
      height: 30px
    .slider-logo
      top: calc(50% - 52px)
      left: calc(50% - 100px)
      width: 200px
      height: 105px
      margin: auto
      img
        width: 100%
    .contact-row
      height: 40px
      a, a:hover
        padding: 11px 0
        font-size: 12px
        &:first-of-type
          background-size: 25px 25px
          width: 150px
        &:last-of-type
          background-size: 25px 25px
          width: 115px
          margin-right: 0
      span
        font-size: 12px
        padding: 12px
  #popup .container .content .album
    .carousel
      padding: 20px
      .carousel-control img
        top: 40%
        height: 30px
      .right.carousel-control
        top: 20px
        right: 20px
        bottom: 20px
      .left.carousel-control
        top: 20px
        left: 20px
        bottom: 20px
    p
      margin: -20px 0 0
      padding: 0
  .grey-row
    height: 100px
    img
      height: 27px
      margin: 36px auto
  .wineries article .text-box
    &.box-centered
      padding-top: 150px
  .series-row .series
    h3
      font-size: 24px
    &:first-of-type
      z-index: 1
    &:nth-of-type(2)
      height: 280px
  .winery-row h3, .tasting-row h3
    font-size: 50px
  .winery .first-row, .winery .second-row,
  .wine-tasting .first-row, .wine-tasting .second-row
    display: block
    .text-box
      width: 100%
      margin-top: 10px
    .image-box
      width: 100%
      background-size: cover
  .events .subtitle
    width: 80%
  .events .event-row#wine-tastings .double-event .image-box
    background-size: 90%
  .contact .mask .content
    h3
      font-size: 30px
    .left-column a, .left-column a:hover
      width: 100%
  .festival, .wine-tasting, .link
    .image-box .masked
      opacity: 0

  //mobile menu
  body
    padding-top: 40px
  .navbar
    overflow-x: hidden
    display: block
    position: fixed
    margin: 0 !important
    width: 100%
    z-index: 2000
    min-height: 40px !important
    ul
      text-align: center
    .language
      a, a:hover
        float: left
        color: #f0f0f0 !important
        font-family: 'Open Sans', sans-serif
        font-weight: 600
        padding: 11px 15px
        font-size: 13px
        text-transform: uppercase

  .navbar-inverse
    background-color: #32353c
    border-color: #080808
    .navbar-nav > li > a
      color: #f0f0f0 !important
      font-family: 'Open Sans', sans-serif
      font-weight: 600
      font-size: 13px
      text-transform: uppercase
      &:hover
        color: #9e895e !important
  .navbar-toggle
    margin-top: 3px !important
    margin-bottom: 3px !important