.container
  = form_for [:admin, @wine] do |f|
    - if @wine.errors.any?
      #error_explanation
        h2 = "#{pluralize(@wine.errors.count, "error")} prohibited this wine from being saved:"
        ul
          - @wine.errors.full_messages.each do |message|
            li = message

    .field.form-group
      = f.label :image
      br
      = f.uploadcare_single_uploader_field :image
    .field.form-group
      = f.label :kind
      = f.text_field :kind, class: 'form-control'
    .field.form-group
      = f.label :kind_eng
      = f.text_field :kind_eng, class: 'form-control'
    .field.form-group
      = f.label :alcohol
      = f.text_field :alcohol, class: 'form-control'
    .field.form-group
      = f.label :name
      = f.text_field :name, class: 'form-control'
    .field.form-group
      = f.label :name_eng
      = f.text_field :name_eng, class: 'form-control'
    .field.form-group
      = f.label :year
      = f.number_field :year, class: 'form-control'
    .field.form-group
      = f.label :description
      = f.text_area :description, class: 'form-control'
    .field.form-group
      = f.label :description_eng
      = f.text_area :description_eng, class: 'form-control'
    .field.form-group
      = f.label :category
      = f.select :category, options_for_select(Wine::CATEGORIES.map{|category| [category[:name], category[:name]]}, selected: @wine.category), {}, class: 'form-control'
    .field.form-group
      = f.label :position
      = f.number_field :position, class: 'form-control'
    .actions = f.submit
