h1 Listing wines

table.table.table-hover
  thead
    tr
      th
      th Kind
      th Name
      th Year
      th Category
      th Position
      th
      th
      th

  tbody
    - @wines.each do |wine|
      tr
        td = image_tag wine.image + '-/resize/100x/'
        td = wine.kind
        td = wine.name
        td = wine.year
        td = wine.category
        td = wine.position
        td = link_to 'Show', admin_wine_path(wine)
        td = link_to 'Edit', edit_admin_wine_path(wine)
        td = link_to 'Destroy', admin_wine_path(wine), data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New Wine', new_admin_wine_path
= ' | '
= link_to 'Admin', admin_root_path