.container
  .panel.panel-default
    = image_tag @wine.image + '-/resize/100x/'
  .panel.panel-default
    .panel-heading
      .panel-title Kind:
    .panel-body
      = @wine.kind
      = @wine.kind_eng
  .panel.panel-default
    .panel-heading
      .panel-title Alcohol:
    .panel-body
      = @wine.alcohol
  .panel.panel-default
    .panel-heading
      .panel-title Name:
    .panel-body
      = @wine.name
      br
      = @wine.name_eng
  .panel.panel-default
    .panel-heading
      .panel-title Year:
    .panel-body
      = @wine.year
  .panel.panel-default
    .panel-heading
      .panel-title Description:
    .panel-body
      = @wine.description
      br
      = @wine.description_eng
  .panel.panel-default
    .panel-heading
      .panel-title Category:
    .panel-body
      = @wine.category
  .panel.panel-default
    .panel-heading
      .panel-title Position:
    .panel-body
      = @wine.position

  = link_to 'Edit', edit_admin_wine_path(@wine)
  '|
  = link_to 'Back', admin_wines_path
