- all_wines = Wine.where(category: wine_category).order(position: :asc)
- if all_wines.count > 2
  - all_wines.each_slice(2) do |wines|
    .double-wine.nopadding.col-xs-12.col-md-6
      - wines.each_with_index do |wine, index|
        - if index%2 == 1
          .wine id="wine-#{wine.id}"
            .text-box.col-xs-6
              p
                span = "#{wine.kind} |"
                = " #{wine.alcohol}"
              h3
                = "#{wine.name}"
                span = " #{wine.year}"
              p = "#{wine.description}"
            .image-box.col-xs-6
              .image
                = image_tag (wine.image + '-/resize/x600/')
        - else
          .wine id="wine-#{wine.id}"
            .image-box.col-xs-6
              .image
                = image_tag (wine.image + '-/resize/x600/')
            .text-box.col-xs-6
              p
                span = "#{wine.kind} |"
                = " #{wine.alcohol}"
              h3
                = "#{wine.name}"
                span = " #{wine.year}"
              p = "#{wine.description}"
- else
  - all_wines.each_with_index do |wine, index|
    .double-wine.nopadding.col-xs-12.col-md-6
      - if index%2 == 1
        .wine id="wine-#{wine.id}"
          .text-box.col-xs-6
            p
              span = "#{wine.kind} |"
              = " #{wine.alcohol}"
            h3
              = "#{wine.name}"
              span = " #{wine.year}"
            p = "#{wine.description}"
          .image-box.col-xs-6
            .image
              = image_tag (wine.image + '-/resize/x600/')
      - else
        .wine id="wine-#{wine.id}"
          .image-box.col-xs-6
            .image
              = image_tag (wine.image + '-/resize/x600/')
          .text-box.col-xs-6
            p
              span = "#{wine.kind} |"
              = " #{wine.alcohol}"
            h3
              = "#{wine.name}"
              span = " #{wine.year}"
            p = "#{wine.description}"
