.container
  .row
    - Availability.all.order(name: :asc).each_with_index do |avaibility|
      .col-md-3.col-sm-4.col-xs-6.block
        .name = avaibility.name
        .url = link_to avaibility.url, avaibility.url
        .line