doctype html
html
  head
    meta charset="utf-8"
    meta content="IE=edge" http-equiv="X-UA-Compatible"
    meta content="width=device-width, initial-scale=1" name="viewport"

    title Dubicz - borászat & szőlőbirtok
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = include_uploadcare_widget_from_cdn version: '1.5.5', min: true
    = uploadcare_settings

    link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png"
    link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png"
    link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png"
    link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png"
    link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png"
    link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png"
    link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png"
    link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png"
    link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png"
    link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32"
    link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192"
    link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96"
    link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16"
    link rel="manifest" href="/manifest.json"
    meta name="apple-mobile-web-app-title" content="Dubicz"
    meta name="application-name" content="Dubicz"
    meta name="msapplication-TileColor" content="#ffc40d"
    meta name="msapplication-TileImage" content="/mstile-144x144.png"
    meta name="theme-color" content="#ffffff"

    meta name="title" content="Dubicz - borászat & szőlőbirtok"
    meta name="description" content="A BORPALOTA Gyöngyös belvárosában, a Mátrai Borvidéken található több mint 100 éves történeti gyökerekkel rendelkező borászat, mely 2014-ben ismételten megújult. A Borpalota művelésében jelenleg 123 hektár szőlőterület van, amelyen a hagyományos mátrai fajták mellett - mint a szürkebarát és muskotály -, népszerű világfajták - mint a sauvignon blanc és a cabernet - is helyet kaptak."
    meta name="keywords" content="Dubicz,borászat,szőlőbirtok,bor,Gyöngyös,Mátrai Borvidék,palack,szürkebarát,muskotály,sauvignon blanc,cabernet"

  body
    = yield
