doctype html
html
  head
    meta charset="utf-8"
    meta content="IE=edge" http-equiv="X-UA-Compatible"
    meta content="width=device-width, initial-scale=1" name="viewport"

    title Dubicz - borászat & szőlőbirtok
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    link href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Playfair+Display:400,400italic,700,700italic|Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic,800,800italic|Crimson+Text:400,400italic,700,700italic,600italic,600&subset=latin,latin-ext' rel='stylesheet' type='text/css'

    link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png"
    link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png"
    link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png"
    link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png"
    link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png"
    link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png"
    link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png"
    link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png"
    link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png"
    link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32"
    link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192"
    link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96"
    link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16"
    link rel="manifest" href="/manifest.json"
    meta name="apple-mobile-web-app-title" content="Dubicz"
    meta name="application-name" content="Dubicz"
    meta name="msapplication-TileColor" content="#ffc40d"
    meta name="msapplication-TileImage" content="/mstile-144x144.png"
    meta name="theme-color" content="#ffffff"

    meta name="title" content="Dubicz - borászat & szőlőbirtok"
    meta name="description" content="A Dubicz Borászat a Mátrai Borvidék szívében, Gyöngyösön található több mint 100 éves történeti gyökerekkel rendelkező pincészet. A Mátra különleges adottságokkal bíró borvidék, ami kifejezetten alkalmas magas minőségű fehérborok készítésére, ezért a Dubicz Borászat is különös hangsúlyt fektet a saját művelésű szőlőterületekre, ahol a hagyományos mátrai fajták mellett - mint a szürkebarát és muskotály -, népszerű világfajták - mint a sauvignon blanc és a cabernet - is helyet kaptak."
    meta name="keywords" content="Dubicz,borászat,szőlőbirtok,bor,Gyöngyös,Mátrai Borvidék,palack,szürkebarát,muskotály,sauvignon blanc,cabernet"

    meta property="og:title" content="Dubicz - borászat & szőlőbirtok"
    meta property="og:site_name" content="Dubicz"
    meta property="og:url" content="#{HOSTNAME}"
    meta property="og:description" content="A Dubicz Borászat a Mátrai Borvidék szívében, Gyöngyösön található több mint 100 éves történeti gyökerekkel rendelkező pincészet. A Mátra különleges adottságokkal bíró borvidék, ami kifejezetten alkalmas magas minőségű fehérborok készítésére, ezért a Dubicz Borászat is különös hangsúlyt fektet a saját művelésű szőlőterületekre, ahol a hagyományos mátrai fajták mellett - mint a szürkebarát és muskotály -, népszerű világfajták - mint a sauvignon blanc és a cabernet - is helyet kaptak."
    meta property="og:image" content="#{image_url('fb_share.png')}"
    meta property="og:type" content="website"

    - if HOSTNAME == 'http://www.dubicz.hu'
      javascript:
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-67042008-1', 'auto');
        ga('send', 'pageview');

  body
    = yield
